.more-screen .icon-row {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 35px;
}

.more-suggestions {
  margin-top: 30px;
  border-top: var(--main-border);
  padding-top: 30px;
}

.more-suggestions__title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}

.more-suggestions__icons {
  display: flex;
}

.more-suggestions__icon {
  margin-left: 20px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  background-color: var(--blue);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.more-suggestions__icon-image i {
  font-size: 32px;
  color: white;
}

.more-suggestions__icon-text {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}
